.Home {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
}

.Burger {
    position: fixed;
    top: 7.5%;
    font-size: 40px;
    left: 10%;
    color: #F1F1F1;
}