.Home {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
}

.Burger {
    position: fixed;
    top: 5.5%;
    font-size: 30px;
    left: 10%;
    color: #4877a7;
}